<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Web Scraping

## 1. Introduction

Web scraping refers to the automatic extraction of information from a web page. This information is often a page's content, but it can also include information in the page's headers, links present on the page, or any other information embedded in the page's HTML. Because of this, scraping has become one of the most popular ways to extract data from the web. 

_"With basic knowledge of HTML and the help of a few Python libraries, you can obtain information from just about any page on the Internet"_

## 2. Scraping a Simple Web Page

In [3]:

#Scraping del men칰 de an치lisis
import requests

url = 'https://www.gamereactor.es/analisis/?gameSystem[]=&genre[]=RPG&minscore=1&orderby=publishdate&textType=1&ipg=50'
html = requests.get(url).content
html[:500]

b' <!DOCTYPE html>\n<html lang="es">\n<head>\n\n\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\n\tnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\n\tj=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\n\t\'https://www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);\n\t})(window,document,\'script\',\'dataLayer\',\'GTM-P9ZBFRD\');</script>\n\n\n<meta charset="utf-8">\n<meta name="viewport" content="width=device-width, initial-scale=1.0,'

### 2.1 Beautiful Soup

In [62]:
from bs4 import BeautifulSoup

# lxml is the parsing module
soup = BeautifulSoup(html, 'lxml')
article = soup.find_all('section', {'id':'textlist'})[0]

In [74]:
urls = soup.find_all('article', {'class':'areview'})

In [85]:
urls[0]

<article class="areview" style="">
<div class="commentsbox_rwd">
<div class="commentsbox share-count-image-textList"><img alt="Interaciones" class="imageInter" src="/lay/interactions_icon/interactions_double.PNG" style="	float: left;
				width: 38px;
				height: 20px;
				margin-top: -3px;
				margin-right: 2px;"/><div class="label-count">0</div>
<a href="/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments" rel="nofollow"></a></div>
</div>
<a href="/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f"><img alt="Pathfinder: Kingmaker para PS4 y Xbox One" class="lazy" data-original="/media/09/pathfinder_2760913_145x107.jpg" src="/lay/i.gif" style="width:145px;height:107px;"/><noscript>
<img alt="Pathfinder: Kingmaker para PS4 y Xbox One" src="/media/09/pathfinder_2760913_145x107.jpg" style="width:145px;height:107px;"/>
</noscript><img alt="Score" class="score" src="/lay/redesign/score_c35_07.png" style="margin-top:6px;"/> <h3>Pathfinder: Kingmaker para PS4 y Xbox One</h3>
</a>
<div class="systems">PS4</div>
<p>Los jugadores de consola ya pueden montarse su propia aventura Pathfinder.</p>
<div class="publishauthor">
Autor: <a class="username" href="https://www.gamereactor.eu/equipo/RoyWoodhouse/" rel="nofollow">Roy Woodhouse</a> <time datetime="2020-09-14">Publicado el 14 de septiembre 2020</time>
</div>
</article>

In [90]:
tags = urls[0].find_all(['h3', 'a'])
tags

[<a href="/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments" rel="nofollow"></a>,
 <a href="/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f"><img alt="Pathfinder: Kingmaker para PS4 y Xbox One" class="lazy" data-original="/media/09/pathfinder_2760913_145x107.jpg" src="/lay/i.gif" style="width:145px;height:107px;"/><noscript>
 <img alt="Pathfinder: Kingmaker para PS4 y Xbox One" src="/media/09/pathfinder_2760913_145x107.jpg" style="width:145px;height:107px;"/>
 </noscript><img alt="Score" class="score" src="/lay/redesign/score_c35_07.png" style="margin-top:6px;"/> <h3>Pathfinder: Kingmaker para PS4 y Xbox One</h3>
 </a>,
 <h3>Pathfinder: Kingmaker para PS4 y Xbox One</h3>,
 <a class="username" href="https://www.gamereactor.eu/equipo/RoyWoodhouse/" rel="nofollow">Roy Woodhouse</a>]

In [82]:
rows = urls.find_all('a', {'class': ['username']})
#{'class': ['storylink', 'sitestr', 'hnuser', 'score', 'age']})
rows_parsed = [row.text for row in rows]

rows_parsed

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [103]:
#selecci칩n de tags enlace

tags = article.find_all('a')
link_parsed = []

for tag in tags:
    link = tag['href']
#    author = tag.find_all('a', {'class': ['username']})
    link_parsed.append(link)
#    print(author)
#   print(title)

In [126]:
#refactorizaci칩n en bloques de tres
row_split = 3
links_refactored = [link_parsed[x:x+row_split] for x in range(0, len(link_parsed), row_split)]
links_refactored[0][1]

'/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f'

In [64]:
#Selecci칩n de autor
rows = article.find_all('a', {'class': 'username'})
#{'class': ['storylink', 'sitestr', 'hnuser', 'score', 'age']})
rows_parsed = [row.text for row in rows]

rows_parsed

['Roy Woodhouse',
 'Eirik Hyldbakk Furu',
 'Roy Woodhouse',
 'Kieran Harris',
 'Roy Woodhouse',
 'David Caballero',
 'Stefan Briesenick',
 'Juan A. Fonseca',
 'Juan A. Fonseca',
 'Jonas M칛ki',
 'Ben Lyons',
 'Mike Holmes',
 'Ingar Takanobu Hauge',
 'Pawe켹 Matyjewicz',
 'Kieran Harris',
 'Juan A. Fonseca',
 'Roy Woodhouse',
 'Stefan Briesenick',
 'Juan A. Fonseca',
 'Roy Woodhouse',
 'Juan A. Fonseca',
 'Juan A. Fonseca',
 'Kieran Harris',
 'Ben Lyons',
 'Petter Lundberg',
 'Juan A. Fonseca',
 'Ben Lyons',
 'Roy Woodhouse',
 'Ingar Takanobu Hauge',
 'Sergio Figueroa',
 'Eirik Hyldbakk Furu',
 'Anders Baad Mai',
 'Juan A. Fonseca',
 'Ben Lyons',
 'Stefan Briesenick',
 'Kieran Harris',
 'Kieran Harris',
 'Pawe켹 Matyjewicz']

In [115]:
f"https://www.gamereactor.es{links_refactored[0][1]}"

'https://www.gamereactor.es/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f'

In [173]:
links_list[:3]

['/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f',
 '/marvels-avengers-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f',
 '/wasteland-3-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f']

In [195]:
#seleccion de enlaces necesarios
links_list = []
for game in links_refactored:
    print(game[1])
    links_list.append(game[1])

/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/marvels-avengers-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/wasteland-3-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/mortal-shell-un-souls-endurecido/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/fairy-tail-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/paper-mario-the-origami-king-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/persona-4-golden-para-pc/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/pokemon-espada-y-escudo-isla-de-la-armadura/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/the-outer-worlds-para-nintendo-switch/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/xenoblade-chronicles-definitive-edition-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/minecraft-dungeons-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/maneater-el-gta-del-mar/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/mafia-ii-definitive-edition-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/sakura-wars-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/trials-of-mana-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/fallout-76-wastelanders/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/final-fantasy-vii-remake-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/dead-or-school/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/persona-5-royal-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/darksiders-genesis-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/equipo/Juan+A+Fonseca/?sid=0f2f862e61f71946f2f07ebdce16ec4f
https://www.gamereactor.eu/equipo/RoyWoodhouse/
/darksiders-genesis-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/disco-elysium-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/pokemon-espada-pokemon-escudo/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/little-town-hero-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/the-outer-worlds-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
https://www.gamereactor.eu/equipo/Ben+Lyons/
https://www.gamereactor.fi/equipo/Petter+Lundberg/
/code-vein-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/children-of-morta-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/greedfall-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/oninaki-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/dandy-dungeon-legend-of-brave-yamada-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/marvel-ultimate-alliance-3-the-black-order-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/assassins-creed-odyssey-dlc-el-juicio-de-la-atlantida/?sid=0f2f862e61f71946f2f07ebdce16ec4f
/dauntless-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
https://www.gamereactor.dk/equipo/AndersMai/
/steamworld-quest-hand-of-gilgamech-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/chocobos-mystery-dungeon-every-buddy-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/the-division-2-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/toejam-earl-back-in-the-groove-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f
https://www.gamereactor.de/equipo/Stefan+Briesenick/
https://www.gamereactor.eu/equipo/Kieran+Harris/
/my-time-at-portia-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/tales-of-vesperia-definitive-edition-analisis/?sid=0f2f862e61f71946f2f07ebdce16ec4f#comments
/analisis/?genre[]=RPG&sid=0f2f862e61f71946f2f07ebdce16ec4f
/analisis/?genre[]=RPG&page=4&sid=0f2f862e61f71946f2f07ebdce16ec4f
/analisis/?genre[]=RPG&page=7&sid=0f2f862e61f71946f2f07ebdce16ec4f
/analisis/?genre[]=RPG&ipg=50&page=1&sid=0f2f862e61f71946f2f07ebdce16ec4f

In [189]:
'''import furl

tests = 'http://www.gamereactor.es/archivo?sid=0f2f862e61f71946f2f07ebdce16ec4f'

final_list = []

for linkin in links_list:
    new_link = 'https:www.gamereactor.es' + linkin
    new_link = furl.furl(new_link).remove().url
    final_list.append(new_link)
'''

# SCRAPING REVIEWS

In [283]:

#Scrape de un an치lisis
review_url = 'https://www.gamereactor.es/pathfinder-kingmaker-para-ps4-y-xbox-one/?sid=0f2f862e61f71946f2f07ebdce16ec4f'
review_html = requests.get(review_url).content
review_html[:50]

b' <!DOCTYPE html>\n<html lang="es">\n<head>\n\n\n<script'

In [286]:
soup = BeautifulSoup(html, 'lxml')
review = soup.find_all('div', {'id':'main'})

In [288]:
review.text

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [231]:
rows = review.find_all()

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [297]:
for a in soup.find_all('div', {'id':'page0'}):
    x = a.get('class')
    print(x)

# CREATE THE DATAFRAME

In [33]:
import pandas as pd

df = pd.DataFrame(rows_refactored, columns=['title', 'publication', 'points', 'author', 'time_ago'])

df.head()

,title,publication,points,author,time_ago
0,ai-jobs.net now with jobmarks for AI/ML/DS jobs,ai-jobs.net,\n 2 points,pat,1 days ago
1,游닄 The online courses you must take to be a bet...,medium.com,\n 4 points,thegurus,3 days ago
2,How to build fair ML models?,medium.com,\n 3 points,acingai,3 days ago
3,Join the NLP Summit for FREE,johnsnowlabs.com,\n 6 points,dsselevate,10 days ago
4,Find remote work in Data Science,dsremote.work,\n 7 points,pat,12 days ago

In [34]:
import re

# df['points'] = df['points'].str.replace(r'\D', '').astype(int)
df['points'] = df['points'].apply(lambda x: re.sub('\D', '', x)).astype(int)

df.head()

,title,publication,points,author,time_ago
0,ai-jobs.net now with jobmarks for AI/ML/DS jobs,ai-jobs.net,2,pat,1 days ago
1,游닄 The online courses you must take to be a bet...,medium.com,4,thegurus,3 days ago
2,How to build fair ML models?,medium.com,3,acingai,3 days ago
3,Join the NLP Summit for FREE,johnsnowlabs.com,6,dsselevate,10 days ago
4,Find remote work in Data Science,dsremote.work,7,pat,12 days ago

In [38]:
df.dtypes

title          object
publication    object
points          int64
author         object
time_ago       object
dtype: object

### 2.2 Pandas read_html

In [44]:
pd.read_html(url)

[                                                   0
 0       DataTau  new |  ask |  show |  submit  login
 1  1.  ai-jobs.net now with jobmarks for AI/ML/DS...
 2  Made with 仇벒잺 by The Gurus |  Support |  Contac...,
     0                                      1      2
 0 NaN  DataTau  new |  ask |  show |  submit  login,
        0   1                                                  2
 0    1.0 NaN  ai-jobs.net now with jobmarks for AI/ML/DS job...
 1    NaN NaN            2 points by  pat  1 days ago |  discuss
 2    NaN NaN                                                NaN
 3    2.0 NaN  游닄 The online courses you must take to be a bet...
 4    NaN NaN       4 points by  thegurus  3 days ago |  discuss
 ..   ...  ..                                                ...
 87  30.0 NaN  Sunbiz Forum Review; Register With #500 and Ea...
 88   NaN NaN        1 point by  kennybbb  2 days ago |  discuss
 89   NaN NaN                                                NaN
 90   NaN NaN                                                NaN
 91   NaN NaN                                               More

 [92 rows x 3 columns]]

In [46]:
type(pd.read_html(url))

list

In [47]:
len(pd.read_html(url))

3

In [48]:
type(pd.read_html(url)[0])

pandas.core.frame.DataFrame

In [49]:
pd.read_html(url, attrs={'class':'itemlist'})

[       0   1                                                  2
 0    1.0 NaN  ai-jobs.net now with jobmarks for AI/ML/DS job...
 1    NaN NaN            2 points by  pat  1 days ago |  discuss
 2    NaN NaN                                                NaN
 3    2.0 NaN  游닄 The online courses you must take to be a bet...
 4    NaN NaN       4 points by  thegurus  3 days ago |  discuss
 ..   ...  ..                                                ...
 87  30.0 NaN  Sunbiz Forum Review; Register With #500 and Ea...
 88   NaN NaN        1 point by  kennybbb  2 days ago |  discuss
 89   NaN NaN                                                NaN
 90   NaN NaN                                                NaN
 91   NaN NaN                                               More

 [92 rows x 3 columns]]

In [50]:
pd.read_html(url, attrs={'class':'itemlist'})[0]

       0   1                                                  2
0    1.0 NaN  ai-jobs.net now with jobmarks for AI/ML/DS job...
1    NaN NaN            2 points by  pat  1 days ago |  discuss
2    NaN NaN                                                NaN
3    2.0 NaN  游닄 The online courses you must take to be a bet...
4    NaN NaN       4 points by  thegurus  3 days ago |  discuss
..   ...  ..                                                ...
87  30.0 NaN  Sunbiz Forum Review; Register With #500 and Ea...
88   NaN NaN        1 point by  kennybbb  2 days ago |  discuss
89   NaN NaN                                                NaN
90   NaN NaN                                                NaN
91   NaN NaN                                               More

[92 rows x 3 columns]

In [54]:
# for scraping the rest of DataTau

num_pages = 10

def function_to_parse_single_page(url):
    pass


for i in range(num_pages):
    url = f'https://datatau.net/new/{i+1}'
    
    function_to_parse_single_page(url)
    
    print(f'page {i+1} parsed!')

page 1 parsed!
page 2 parsed!
page 3 parsed!
page 4 parsed!
page 5 parsed!
page 6 parsed!
page 7 parsed!
page 8 parsed!
page 9 parsed!
page 10 parsed!

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;춸 Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>